body {
    background: #000;
}

.main {
    position: absolute;
    inset: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    height: 90px;
}

.Letra {
    font-size: 3em;
    background: #fff;   
    padding: 10px;
}

.Letra.aplastar {
    transform: scaleY(.4) translateY(50px);
}

.Letra.aplastar::after{
    content: "";
    display: block;
    height: 30px;
    width: 30px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
    top: -30px;
    left: calc(50% - 15px);
}